body{
    background: url("images/green_cup.png")
}
.bg-light{
    background-color: #0a4784!important;
}
.btn-outline-success{
    color: beige;
    border-color:#a5ab95;    
}
.btn-success {
   background-color: #8baf2c;
   color: black;
}
.btn-danger {
background-color:#8a73c1;
color: black;
border-color:#8a73c1;
}
.btn-primary{
    color: black;
}
.btn-secondary{
    color: black;
}