body{
    background: url("images/green_cup.png")
}
.bg-light{
    background-color: #0a4784!important;
}
.styleing{
    color: black;
    border-radius: 4px;
    border-color: #0a4784;
    background-color:#0a4784;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: 5px;
    font-size: 20px;
}
#searchButton{
    color: black;
    background-color: darkseagreen;
    border-color: darkseagreen;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}